
:root {

    --primary: rgb(20, 32, 80);

    --accent: rgb(190, 192, 64);

    --background: rgb(243, 243, 220);

}

body {

    background-color: var(--background);

    margin: 0;

    font-family: Arial;

}

header h1 {

    color: var(--primary);

    text-align: center;

    margin-top: 70px;

}

nav {

    background-color: var(--primary);

    position: fixed;

    top: 0;

    width: 100%;

    display: flex;

    align-items: center;

    padding: 10px;

    box-sizing: border-box;

}

.logo {

    color: var(--accent);

    font-size: 25px;

    font-weight: bold;

    margin-left: 20px;

}

nav ul {

    display: flex;

    justify-content: center;

    gap: 30px;

    list-style-type: none;

    margin: auto;

}

nav a {

    color: white;

    text-decoration: none;

}

nav a:hover {

    color: var(--accent);

}

.hero {

    background: linear-gradient(
        var(--primary),
        var(--accent)
    );

    color: white;

    text-align: center;

    padding: 70px 20px 40px;

}

button {

    background-color: var(--primary);

    color: white;

    padding: 10px;

    margin: 5px;

    border: none;

    border-radius: 5px;

}

button:hover {

    background-color: var(--accent);

    color: black;

}

section h2 {

    color: var(--primary);

    text-align: center;

    margin-top: 30px;

}

.cards {

    display: flex;

    justify-content: center;

    gap: 20px;

    margin: 20px;

}

.card {

    background-color: white;

    width: 250px;

    height: 180px;

    padding: 20px;

    text-align: center;

    border: 1px solid black;

    border-radius: 10px;

    box-shadow: 2px 2px 8px gray;

    position: relative;

    overflow: hidden;

}

.card img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    opacity: 0.35;
}

.card-content {
    position: relative;
    z-index: 1;
}


.card h3 {

    color: var(--primary);

}

.table-container {

    overflow-x: auto;

}

table {

    border-collapse: collapse;

    width: 90%;

    margin: 30px auto;

}

th,
td {

    border: 1px solid black;

    padding: 10px;

    text-align: center;

}

th {

    background-color: var(--accent);

}

.booking-area {

    display: grid;

    grid-template-columns: 1fr 1fr;

    gap: 30px;

    width: 80%;

    margin: 30px auto;

}

form {

    background-color: white;

    padding: 30px;

    border: 2px solid black;

    border-radius: 10px;

    box-shadow: 2px 2px 8px gray;

}

form h3 {

    color: var(--primary);

}

input,
select {

    padding: 8px;

    margin-top: 5px;

}

.booking-summary {

    background-color: white;

    padding: 30px;

    border: 2px solid black;

    border-radius: 10px;

    box-shadow: 2px 2px 8px gray;

}

.booking-summary h3 {

    color: var(--primary);

}

footer {

    background-color: var(--primary);

    color: white;

    padding: 30px;

    margin-top: 40px;

}

footer h2 {

    color: var(--accent);

}

footer li {

    margin: 10px;

}


@media (max-width: 600px) {

    nav {

        position: relative;

        flex-direction: column;

    }


    nav ul {

        flex-direction: column;

        align-items: center;

        gap: 10px;

        padding: 0;

    }


    header h1 {

        margin-top: 20px;

    }

    .cards {

        flex-direction: column;

        align-items: center;

    }


    .card {

        width: 70%;

    }

    .table-container {

        overflow-x: auto;

    }


    table {

        width: 700px;

    }

    .booking-area {

        grid-template-columns: 1fr;

        width: 90%;

    }

}